:javascript
  $(function() {
    $(document).bind('touchmove', function(e) {
      e.preventDefault();
    });
  });

.sixteen.columns
  %h1
    = guest.name
    %small= "(#{guest.company})"
  - unless guest.image_url.nil?
    %img{ src: guest.image_url }
  %p
    <img src="https://assets.athega.se/jullunch/2018/qrcode/#{guest.token}.png" alt="Biljett">
  %p.alert-message
    Vald sittning:
    %strong= guest.sitting
.row.alpha.omega.latest_images
  - all_images.each do |url|
    .three.columns
      %form{ action: "/check-in/guests/#{guest.token}", method: 'POST', onsubmit: "return confirm('Vill du checka in med denna bild?')" }
        %input{ type: 'hidden', name: '_method', value: 'PUT' }
        %input{ type: 'hidden', name: 'image_url', value: url }
        %input.button{ style: "width: 100%;", type: 'image', src: url.gsub('hatified', 'thumb') }
