%h2.add-bottom= title
.row.remove-bottom
  %label.four.columns Namn
  %label.three.columns Företag
  %label.four.columns  E-post
  %label.three.columns Inbjuden av
  %label.one.columns   Sittning
- guests.each do |guest|
  .row.remove-bottom{ class: guest.css_classes }
    %hr.half-bottom
    %small.three.columns
      %a{ href: "/?token=#{guest.token}", title: guest.status_string }= h guest.name
    %small.one.column
      - if guest.image_url
        %a{ href: guest.image_url }
          %img{ src: guest.image_url}
      - else
        &nbsp;
    %small.three.columns= h guest.company
    %small.four.columns
      %a{ href: "https://assets.athega.se/jullunch/2018/qrcode/?text=#{guest.token}", title: guest.email }=  h guest.email
    %small.three.columns= h guest.invited_by
    %small.one.column= h guest.sitting
    .one.column
      %form{ action: "/admin/guests/#{guest.token}", method: 'POST' }
        %input{ type: 'hidden', name: '_method', value: 'DELETE' }
        %input.remove-bottom{ type: 'submit', value: 'X', onclick: 'return confirm("Är du säker på att du vill ta bort ' + h(guest.name) + '?");' }
