.row.guests
  .twelve.offset-by-four.columns
    %h1 Gäster
  .three.columns
    = haml :'admin/menu', :layout => false

    .guest_info
      %label Statistik

      %ul
        %li
          %small
            Totalt antal gäster:
            %strong= guests.count

  .twelve.offset-by-one.columns
    %form{ :action => "/admin/guests", :method => 'POST' }
      %fieldset
        .row.remove-bottom
          .three.columns.alpha
            %label Namn
            %input{ :type => 'text', :name => 'name' }
          .two.columns
            %label Företag
            %input{ :type => 'text', :name => 'company' }
          .two.columns
            %label Telefon
            %input{ :type => 'text', :name => 'phone' }
          .three.columns
            %label E-post
            %input{ :type => 'text', :name => 'email' }
          .two.columns.omega
            %label Inbjuden av
            %input{ :type => 'text', :name => 'invited_by' }
        .row.remove-bottom
          .eight.columns.alpha
            %small.alert-message
              %strong Notera:
              Om manuell inbjudan är ikryssad är det upp till          |
              inbjudaren att se till att den inbjudne får ett mail med |
              inbjudningslänken. Lite mer manuellt jobb men öppnar     |
              för betydligt mer personliga inbjudningar.               |

            %label
              %input{ type: 'checkbox', name: 'invited_manually', value: 'manually' }
              %span Manuell inbjudan

          .two.offset-by-two.columns.omega
            %input{ :type => 'submit', :value => 'Lägg till ny gäst' }

    .row
      .two.columns.alpha
        %label Namn
      .two.columns
        %label Företag
      .three.columns
        %label E-post
      .two.columns
        %label Inbjuden av
      .two.columns.omega
        %label Sittning

    - guests.each do |guest|
      .row.guest
        .two.columns.alpha
          %small
            %a{ href: "/?token=#{guest.token}" }= guest.name
        .two.columns
          %small= guest.company
        .three.columns
          %small= guest.email
        .two.columns
          %small= guest.invited_by
        .two.columns.omega
          %small= guest.sitting
