.row.guests
  .twelve.offset-by-four.columns
    %h1 Administrera gäster
  .three.columns
    = haml :'admin/menu', :layout => false

    .guest_info
      %label Statistik

      %ul
        %li
          %small
            Totalt antal gäster:
            %strong= guests.count

  .twelve.offset-by-one.columns
    %form{ :action => "/admin/guests", :method => 'POST' }
      %fieldset
        .row.remove-bottom
          .three.columns.alpha
            %label Namn
            %input{ :type => 'text', :name => 'name' }
          .three.columns
            %label Företag
            %input{ :type => 'text', :name => 'company' }
          .four.columns
            %label E-post
            %input{ :type => 'text', :name => 'email' }
          .two.columns.omega
            %label Inbjuden av
            %input{ :type => 'text', :name => 'invited_by' }
        .row.remove-bottom
          .nine.columns.alpha
            %label
              %input{ type: 'checkbox', name: 'invited_manually', value: 'yes' }
              %span Manuell inbjudan

            %small.alert-message
              %strong Notera:
              Om manuell inbjudan är ikryssad är det upp till          |
              inbjudaren att se till att den inbjudne får ett mail med |
              inbjudningslänken. Lite mer manuellt jobb men öppnar     |
              för betydligt mer personliga inbjudningar.               |

          .two.offset-by-one.columns.omega
            %input{ :type => 'submit', :value => 'Lägg till ny gäst' }
    %form{ :action => "/admin/guests/import_from_spreadsheet", :method => 'POST' }
      %input{ type: 'submit', value: 'Importera (eventuella) nya gäster från Google Docs', onclick: 'return confirm("Är du säker på att du vill importera?");' }

.row.guests
  - if Guest.count > 0
    %div
      .three.columns
        %label Namn
      .three.columns
        %label Företag
      .five.columns
        %label E-post
      .three.columns
        %label Inbjuden av
      .one.columns
        %label Sittning

  - guests.each do |guest|
    .row.remove-bottom{ class: guest.css_classes }
      %hr.half-bottom
      .three.columns
        %small
          %a{ href: "/?token=#{guest.token}" }= guest.name
      .three.columns
        %small= guest.company
      .five.columns
        %small= guest.email
      .three.columns
        %small= guest.invited_by
      .one.column
        %small= guest.sitting
      .one.column
        %form{ action: "/admin/guests/#{guest.token}", method: 'POST' }
          %input{ type: 'hidden', name: '_method', value: 'DELETE' }
          %input.remove-bottom{ type: 'submit', value: 'X', onclick: 'return confirm("Är du säker på att du vill ta bort ' + guest.name + '?");' }
