.row.guests
  .twelve.offset-by-four.columns
    %h1 Administrera gäster
    - unless params[:number_of_imported_guests].nil?
      %div.alert-message
        Importerade
        %strong= params[:number_of_imported_guests]
        nya gäster!
  .four.columns
    = haml :'admin/menu', :layout => false

    .guest_statistics.info-message
      %label.half-bottom Statistik
      %ul
        - statistics.each do |s|
          %li
            %small
              = s.text
              %strong= s.count

  .twelve.columns
    %form{ :action => "/admin/guests", :method => 'POST' }
      .three.columns.alpha
        %label Namn
        %input{ :type => 'text', :name => 'name' }
      .three.columns
        %label Företag
        %input{ :type => 'text', :name => 'company' }
      .four.columns
        %label E-post
        %input{ :type => 'text', :name => 'email' }
      .two.columns.omega
        %label Inbjuden av
        %input{ :type => 'text', :name => 'invited_by' }
      .nine.columns.alpha
        %label
          %input{ type: 'checkbox', name: 'invited_manually', value: 'yes' }
          %span Manuell inbjudan

        %small.alert-message
          %strong Notera:
          Om manuell inbjudan är ikryssad är det upp till          |
          inbjudaren att se till att den inbjudne får ett mail med |
          inbjudningslänken. Lite mer manuellt jobb men öppnar     |
          för betydligt mer personliga inbjudningar.               |

      .two.offset-by-one.columns.omega
        %input{ :type => 'submit', :value => 'Lägg till' }
    %form{ :action => "/admin/guests/import_from_spreadsheet", :method => 'POST' }
      %input{ type: 'submit', value: 'Importera (eventuella) nya gäster från Google Docs', onclick: 'return confirm("Är du säker på att du vill importera?");' }

.guests
  - if Guest.not_invited_yet.count > 0
    = haml :'admin/guests/_list', locals: { title: 'Gäster som inte fått någon inbjudan än', guests: Guest.not_invited_yet.sort([:company, 1], [:name, 1]).all }

  - if Guest.invited.count > 0
    = haml :'admin/guests/_list', locals: { title: 'Redan inbjudna gäster', guests: Guest.invited.sort([:company, 1], [:name, 1]).all }
