.row
  .six.columns
    - if has_valid_token?
      - if params[:rsvp].nil?
        %form{ action: '/rsvp', method: 'post' }
          %h2 Svara på inbjudan

          %fieldset
            %label{ for: 'guest_name' } Ditt namn
            %input#guest_name{ type: 'text', name: 'name', value: guest.name }

            %label{ for: 'guest_company' } Företag
            %input#guest_company{ type: 'text', name: 'company', value: guest.company }

          %fieldset
            %h4 Sittningar

            %small.add-bottom.alert-message Om alla kommer samtidigt kan det bli lite |
                                 trångt. Vi skulle därför uppskatta om ni  |
                                 vill ange när ni planerar att komma till oss. |
				 Platserna är begränsade enligt först till kvarn-principen. |

            %ul.sittings
              - sittings.each do |sitting|
                %li.sitting{ class: sitting.guest_status_class }
                  %label
                    - if sitting.seats_available?
                      - if guest.has_checked_sitting?(sitting)
                        %input{ type: 'radio', name: 'sitting_key', value: sitting.key, checked: '' }
                      - else
                        %input{ type: 'radio', name: 'sitting_key', value: sitting.key }

                    %span
                      = sitting.title
                      - if sitting.full? and guest.has_checked_sitting?(sitting)
                        %small= 'Du har valt den här sittningen som nu är fullbokad.'
                      -else
                        %small= sitting.guest_status_text
            %input{ type: 'hidden', name: 'token', value: guest.token }
            %input{ :type => 'submit', :value => 'Skicka' }
      - else
        - if guest.declined?
          %h2 Vad synd
          %p Hoppas att du kan vara med nästa år.
        - else
          %h2= "Tack #{guest.name}!"
          %p Nu är det bara att räkna ner dagarna till julbordet.

        %small.alert-message
          Det är fortfarande möjligt att
          %a{ href: "/?token=#{params[:token]}" } ändra
          ditt svar.

        %figure.add-bottom
          %img{ src: '/images/yoda.jpg' }
          %small
            Foto:
            %a{ href: 'http://www.flickr.com/photos/tylersharp/4192249096/' } Tyler Sharp

    - else
      %figure.add-bottom
        %img{ src: '/images/yoda.jpg' }
        %small
          Foto:
          %a{ href: 'http://www.flickr.com/photos/tylersharp/4192249096/' } Tyler Sharp

      %p Anmälningen till årets jullunch är stängd.
      - if is_coming?
        %p
          Enligt våra noteringar har du angett att du vill komma på fredag klockan
          %strong #{guest.sitting}.
        %p Vi ses!

  .nine.offset-by-one.columns
    %h1 Nu är det snart dags för Athegas traditionella jullunch!

    %h3.alert-message Sista anmälningsdag: 13/12

    %p
      Vi dukar fram det goda julbordet fredagen
      %strong 16 december kl. 11.30
      och ser till att faten är fyllda och stämningen hög fram till
      %strong ca. 14.30.

    %p
      %a{ href: 'mailto:torbjorn.nilsson@athega.se'} Torbjörn Nilsson
      svarar gärna på dina frågor.

    %p
      = succeed '.' do
        Följ oss gärna på
        %a{ href: 'https://twitter.com/athega' } @athega
        och om du vill twittra om jullunchen använder du hashtaggen
        %a{ href: 'https://twitter.com/#!/search/realtime/%23athegajul' } #athegajul

    %h2 Vägbeskrivning
    %p
      Vårt kontor ligger på
      %strong Hantverkargatan 21, 3tr.
    %p
      Närmaste tunnelbanestation är Rådhuset
      %em (uppgång Parmmätargatan).

    %a{ href: 'http://g.co/maps/ndcuq' }
      %img{ src: "/images/staticmap.png" }
