.row
  .six.columns
    - if has_valid_token?
      - if params[:rsvp].nil?
        %form{ action: '/rsvp', method: 'post' }
          %h2 Svara på inbjudan

          %fieldset
            %label{ for: 'guest_name' } Ditt namn
            %input#guest_name{ type: 'text', name: 'name', value: guest.name }

            %label{ for: 'guest_company' } Företag
            %input#guest_company{ type: 'text', name: 'company', value: guest.company }

            %label{ for: 'guest_phone' } Telefon
            %input#guest_phone{ type: 'text', name: 'phone', value: guest.phone }

            %label{ for: 'guest_email'} E-post
            %input#guest_email{ type: 'text', name: 'email', value: guest.email }

          %fieldset
            %h4 Sittningar

            %small.add-bottom.alert-message Om alla kommer samtidigt kan det bli lite |
                                 trångt. Vi skulle därför uppskatta om ni  |
                                 vill ange på ett ungefär när ni planerar  |
                                 att komma till oss.                       |

            %ul.sittings
              - sittings.each do |sitting|
                %li.sitting{ class: sitting.guest_status_class }
                  %label
                    - if guest.has_checked_sitting?(sitting)
                      %input{ type: 'radio', name: 'sitting_key', value: sitting.key, checked: '' }
                    - else
                      %input{ type: 'radio', name: 'sitting_key', value: sitting.key }

                    %span
                      = sitting.title
                      %small= sitting.guest_status_text
            %input{ type: 'hidden', name: 'token', value: guest.token }
            %input{ :type => 'submit', :value => 'Skicka' }
      - else
        %h2= "Tack #{guest.name}!"
        %p Nu är det bara att räkna ner dagarna till julbordet.

        %small.alert-message
          Det är fortfarande möjligt att
          %a{ href: "/?token=#{params[:token]}" } ändra
          ditt svar.
    - else
      %img{ src: 'http://farm5.staticflickr.com/4087/5196894990_ece309ac67.jpg' }
      %small
        Fotograf:
        %a{ href: 'http://www.flickr.com/photos/shandilee/5196894990/' } Shandi-lee
  .nine.offset-by-one.columns
    %h1 Nu är det snart dags för Athegas traditionella jullunch!

    %p Vi dukar fram det goda julbordet fredagen 0 december kl. 11.30 och   |
       ser till att faten är fyllda och stämningen hög fram till ca. 14.30. |

    %p #{'<a href="mailto:fredrik.soder@athega.se">Fredrik Söder</a>'} svarar gärna på dina frågor.

    %h2 Vägbeskrivning
    %p
      Vårt kontor ligger på
      %strong Hantverkargatan 21, 3tr.
    %p
      Närmaste tunnelbanestation är Rådhuset
      %em (uppgång Parmmätargatan).

    :plain
      <iframe class="scale-with-grid"
          frameborder="0" scrolling="no"
          marginheight="0" marginwidth="0"
          src="http://maps.google.se/maps?f=q&amp;source=s_q&amp;hl=sv&amp;geocode=&amp;q=Athega+AB,+Stockholm&amp;aq=0&amp;sll=59.328436,18.046762&amp;sspn=0.011909,0.04107&amp;vpsrc=0&amp;g=Hantverkargatan+21,+Stockholm&amp;ie=UTF8&amp;hq=Athega+AB,&amp;hnear=Stockholm,+Stockholms+L%C3%A4n&amp;t=m&amp;cid=7789517228462845170&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>

