%div Hej #{name}!
%br
%span
%div #{invited_by} tycker att det skulle vara mycket trevligt om du vill närvara vid vår jullunch, fredagen den 11:e december.
%div Vi dukar fram det vällagade julbordet kl. 11:30 och ser till att faten är fyllda och stämningen hög fram till ca. 14:30.
%br
%div Som vanligt kör vi flera sittningar för att vi inte ska bli för många samtidigt. Först till kvarn gäller – anmäl dig i tid.
%br
%span
%div Anmäl dig här: #{"<a href=\"#{link}\">#{link}</a>"}
%br
%br
%div Väl mött!
