%h1 Välkommen till Athegas Jullunch
%br
%span Hej #{name}, du är hjärtligt välkommen på Athegas Jullunch den 16/12.
%br
%p #{company}
%span
%span Acceptera inbjudan på #{"<a href=\"#{link}\">#{link}</a>"}
