%p Hej!
%br
%p
  Vad trevligt att du ville komma och äta virtuell jullunch tillsammans med oss i år.
%p
  Det är ju litet speciella tider och på Athega följer vi självklart Folkhälsomyndighetens
  råd till punkt och pricka. Därför är vi speciellt glada att du ville ta del av vår
  simulerade upplaga av Athegas jullunch.
%p
  Du får det här mailet eftersom din simulering tackade ja till vår inbjudan och även dök
  upp i fredags och kalasade på årets Athega-julbord.
%p
  - if image_url
    <img src="#{image_url}">
%p
  Som traditionen bjuder har vår teknik samlat på sig litet statistik.
  Efter att du checkat in fick du i dig <b>#{rand(3)+1}</b> glas glögg. På någon
  av dina <b>#{rand(12)+1}</b> vändor till julbordet lyckades du prova <b>#{rand(14)+1}</b>
  av våra totalt 132 sillsorter. I baren provade du inte mindre än <b>#{rand(21)+1}</b>
  av våra 86 julölssorter och innan du gick delade du ut en riktig bamsekram.
%p
  Kramen var 100% virussäker, allt var ju simulerat!
%p
  Apropå det, vi har beräknat att ditt besök hos oss resulterat i exakt <b>#{rand(2450)+1}g</b>
  extra runt midjan. Vi lovar att simulera bort det i mellandagarna.
%p
  Hoppas vi ses igen, nästa år, på riktigt!
%p
  %br
%p
  Ha nu en riktigt God Jul och ett Gott Nytt År!
  %br
%p
  %em // Athegagänget
